DATABASE_URL=postgres://postgres:mysecretpassword@localhost:5432/postgres
REDIS_URL=redis://localhost:6379
MINCEPIERANK_DOMAIN=localhost
MINCEPIERANK_SECURE_DOMAIN=false

AUTH_CLIENT_ID=testing-instance
AUTH_CLIENT_SECRET=ZXhhbXBsZS1hcHAtc2VjcmV0
AUTH_REDIRECT_URL=http://localhost:8080/auth/callback
AUTH_PROVIDER_URL=http://localhost:5557

JWT_SIGNING_KEY=all-your-base-belong
IMGPRSSR_PREFIX=http://localhost:3000
IMGPRSSR_DIR=.localimages