{{define "fragment:components:breadcrumb"}}
<nav aria-label="breadcrumb" class="mb-3">
  <ol class="breadcrumb">
    {{ range . }}
    <li class="breadcrumb-item"><a href="{{.URL}}">{{.Label}}</a></li>
    {{ end }}
  </ol>
</nav>
{{end}}
