{{define "fragment:components:breadcrumb"}}
<nav class="breadcrumb mpr-breadcrumb-container" aria-label="breadcrumbs">
  <ul>
    {{ range . }}
        <li><a href="{{.URL}}">{{.Label}}</a></li> 
    {{ end }}
  </ul>
</nav>
{{end}}
