{{define "fragment:components:categorylist"}}
<h2 class="title" style="text-align: center">Categories</h2>
<div class="category-links">
  {{ range . }}
    <a class="category-link" href="{{ .URL }}"}>{{ .Label }}</a>
  {{ end }}
</div>
{{end}}
