{{define "fragment:components:filterlinks"}}
<div class="filters">
  {{ range .ActiveFilters }}
    <a class="selected" href="{{ .URL }}"}>{{ .Label }}</a>
  {{ end }}
  {{ range .AvailableFilters }}
    <a href="{{ .URL }}"}>{{ .Label }}</a>
  {{ end }}
</div>
{{end}}
