{{define "fragment:components:filterlinks"}}
<div class="d-flex flex-wrap justify-content-center gap-2 mb-4">
  {{ range .ActiveFilters }}
  <a class="btn btn-dark" href="{{ .URL }}">{{ .Label }}</a>
  {{ end }}
  {{ range .AvailableFilters }}
  <a class="btn btn-outline-secondary" href="{{ .URL }}">{{ .Label }}</a>
  {{ end }}
</div>
{{end}}
