{{define "fragment:components:menu"}}
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top mb-3">
  <div class="container">
    <a class="navbar-brand" href="/">Mince Pie Rank</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/years/{{.ActiveYear}}/all-pies">All Pies</a></li>
        <li class="nav-item"><a class="nav-link" href="/years/{{.ActiveYear}}/brands">Brands</a></li>
        <li class="nav-item"><a class="nav-link" href="/years/{{.ActiveYear}}/categories">Categories</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/profile/rankings/{{.ActiveYear}}">My Rankings</a></li>
      </ul>
      <ul class="navbar-nav">
        {{ if .SignedIn }}
        <li class="nav-item"><a class="nav-link" href="/auth/signout">Log Out</a></li>
        {{ else }}
        <li class="nav-item"><a class="nav-link" href="/auth/signin">Sign In</a></li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
{{end}}
