{{define "page:admin:config"}}
{{template "fragment:global:head" .Head}}
<div class="container py-4">
<h1>Admin Config</h1>
<div class="table-responsive">
<table id="config-table" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th>Actions</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{ range .PageData.Config }}
    <tr>
      <form hx-put="/admin/config/{{.Key}}" hx-target="#config-table" hx-select="#config-table" class="d-inline">
        <td>{{.Key}}</td>
        <td><input name="value" value="{{.Value}}" class="form-control"/></td>
        <td><button type="submit" class="btn btn-sm btn-primary">Update</button></td>
      </form>
      <td>
        <button type="button" class="btn btn-sm btn-danger" hx-delete="/admin/config/{{.Key}}" hx-target="#config-table" hx-select="#config-table">Delete</button>
      </td>
    </tr>
    {{ end }}
    <tr>
      <form hx-post="/admin/config" hx-target="#config-table" hx-select="#config-table" class="d-inline">
        <td><input name="key" required class="form-control"/></td>
        <td><input name="value" required class="form-control"/></td>
        <td><button type="submit" class="btn btn-sm btn-primary">Create</button></td>
      </form>
      <td></td>
    </tr>
  </tbody>
</table>
</div>
</div>
{{template "fragment:global:foot" .Foot}}
{{end}}
