{{define "page:admin:index"}}
{{template "fragment:global:head" .Head}}

<div>admin page index</div>
<div><a href="/admin/config">Config</a></div>
<div><a href="/admin/makerpies">Maker pies</a></div>

{{template "fragment:global:foot" .Foot}}
{{end}}
