{{define "fragment:global:foot"}}
    </div>
    <a style="padding-bottom: 6em" href="/about">About</a>
  </div>
</div>
</body>
<script src="/static/scripts.js" type="application/javascript"></script>
</html>
{{end}}
