.topCard {
  color: black;
  font-weight: bold;
  background: linear-gradient(
    29deg,
    rgba(255, 160, 27, 1) 0%,
    rgba(255, 209, 144, 1) 60%,
    rgba(252, 176, 69, 1) 100%
  );
  height: 100%;
  display: flex;
  flex-direction: column;
}

.stretch {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boldText {
  font-weight: bold;
}

.blackText {
  color: black;
}

.leftQuarterPad {
  padding-left: 0.25em;
}

.chipContainer {
  display: flex;
  justify-content: center;
  gap: 0.25em;
  margin-top: 1em;
}

.flexWrapper {
  display: flex;
}

.flexLeftPanel {
  width: 47.5%;
  height: 120px;
}

.flexLeftPanel img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.flexRightPanel {
  margin-left: 5%;
  width: 47.5%;
}

.topRating {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.4);
}

.topButton {
  width: 100%;
  text-align: center;
  color: black;
  border-color: black;
  font-weight: bold;
  min-height: 4em;
}

.regularButton {
  width: 100%;
  text-align: center;
  min-height: 4em;
}
