.rankingContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-flow: row wrap;
  gap: 1.5em;
}

.rankingItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
