{{define "page:index"}}
{{template "fragment:global:head" .Head}}

<h2>Current Top Pie</h2>

{{template "fragment:components:pielinkcard" .PageData.TopPie}}

{{template "fragment:global:foot" .Foot}}
{{end}}
