{{define "page:yearbrands"}}
{{template "fragment:global:head" .Head}}
{{template "fragment:components:breadcrumb" .PageData.Breadcrumb}}

<div class="container py-4">
  <h2 class="mb-4">{{.PageData.Year}} Brands</h2>
  {{template "fragment:components:brandlist" .PageData.MakerCards}}
</div>

{{template "fragment:global:foot" .Foot}}
{{end}}
