{{define "page:years"}}
{{template "fragment:global:head" .Head}}
{{template "fragment:components:breadcrumb" .PageData.Breadcrumb}}


<h1 style="min-width: 240px; text-align: center;">Years</h1>

<div style="width: 100%; display: flex; flex-direction: column; gap: 2em;">
  {{ range .PageData.Years }}
    <a class="link-button" href="/years/{{.}}" style="width: calc(100% - 2em); display: block;">{{.}}</a>
  {{ end }}
</div>

{{template "fragment:global:foot" .Foot}}
{{end}}
